body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0D1117;
}

.newNoteForm {
    /* border: 1px solid black; */
    margin-top: 2%;
    padding: 2%;
    margin-bottom: 2%;
}

.newNoteForm label {
    font-weight: bolder;
}

.newNoteForm textarea {
    width: 100%;
}

.modal-dialog {
    /* border: 1px solid green; */
    height: 700px;
    margin-left: 28%;
}

.modal-content {
    width: 700px;
    height: 700px;
    margin: 0% auto;
    background-color: #0D1117;
    color: white;
}

.modal-header button {
    border: 1px solid white;
    color: white;
    background-color: #262C36;
}

.modal-content textarea {
    height: 300px;
}


.newnoticon {
    /* border: 1px solid white; */
    color: white;
}

.newnote input {
    background-color: #262C36;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.newnote textarea {
    background-color: #262C36;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}

.alllnotesandicon {
    border: 1px solid #262C36;
    color: white;
}

.updateForm input {
    background-color: #262C36;
    color: white;
    border: 1px solid #262C36;
    height: 45px;
    width: 100%;
    padding-left: 3%;
    border-radius: 10px;
}

.updateForm textarea {
    height: 300px;
    padding-left: 3%;
    padding-top: 5px;
    background-color: #262C36;
    color: white;
    border: 1px solid #262C36;
    border-radius: 10px;
}

.modal-footer .updateformbutton {
    height: 50px;
}


@media(min-width : 300px) {

    .newnoticon {
        /* border: 1px solid white; */
        color: white;
    }

    .newnoticon h1 {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .newnoticon i {
        font-size: 30px;
        color: white;
        margin-top: 9px;
        margin-right: 10px;
    }

    .newnote {
        /* border: 1px solid white; */
        width: 100%;
        color: white;
    }

    .newnote label {
        margin-top: 10px;
    }

    .newnote input {
        height: 45px;
        width: 100%;
        padding-left: 3%;
    }

    .newnote textarea {
        height: 200px;
        padding-left: 3%;
        padding-top: 5px;
    }

    .addNoteButton {
        width: 40%;
        height: 50px;
    }

    .alllnotesandicon h1 {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .alllnotesandicon i {
        font-size: 30px;
        color: white;
        margin-top: 9px;
        margin-right: 15px;
    }

    .impNotesList {
        /* border: 1px solid white; */
        margin-top: 5%;
    }

    .modal-dialog {
        /* border: 1px solid green; */
        height: 670px;
        margin-left: 1%;
    }

    .modal-content {
        width: 350px;
        height: 670px;
        margin: 0% auto;
        background-color: #0D1117;
        color: white;
    }


}


@media(min-width : 650px) {
    .newnoticon {
        /* border: 1px solid white; */
        color: white;
    }

    .newnoticon h1 {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .newnoticon i {
        font-size: 50px;
        color: white;
        margin-top: 9px;
        margin-right: 10px;
    }

    .newnote {
        /* border: 1px solid white; */
        width: 100%;
        color: white;
    }

    .newnote label {
        margin-top: 10px;
    }

    .newnote input {
        height: 45px;
        width: 100%;
        padding-left: 3%;
    }

    .newnote textarea {
        height: 200px;
        padding-left: 3%;
        padding-top: 5px;
    }

    .addNoteButton {
        width: 10%;
        height: 50px;
    }

    .alllnotesandicon h1 {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .alllnotesandicon i {
        font-size: 30px;
        color: white;
        margin-top: 9px;
        margin-right: 10px;
    }

    .modal-dialog {
        /* border: 1px solid green; */
        height: 700px;
        margin-left: 28%;
    }

    .modal-content {
        width: 700px;
        height: 700px;
        margin: 0% auto;
        background-color: #0D1117;
        color: white;
    }
}

@media(min-width : 900px) {
    .newnoticon {
        /* border: 1px solid white; */
        color: white;
    }

    .newnoticon h1 {
        font-size: 40px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .newnoticon i {
        font-size: 50px;
        color: white;
        margin-top: 9px;
        margin-right: 10px;
    }

    .newnote {
        /* border: 1px solid white; */
        width: 100%;
        color: white;
    }

    .newnote label {
        margin-top: 10px;
    }

    .newnote input {
        height: 45px;
        width: 100%;
        padding-left: 1%;
    }

    .newnote textarea {
        height: 200px;
        padding-left: 1%;
        padding-top: 5px;
    }

    .addNoteButton {
        width: 10%;
        height: 50px;
    }

    .alllnotesandicon h1 {
        font-size: 40px;
        margin-top: 10px;
        margin-left: 5px;
    }

    .alllnotesandicon i {
        font-size: 50px;
        color: white;
        margin-top: 9px;
        margin-right: 35px;
    }

    .modal-dialog {
        /* border: 1px solid green; */
        height: 700px;
        margin-left: 28%;
    }

    .modal-content {
        width: 700px;
        height: 700px;
        margin: 0% auto;
        background-color: #0D1117;
        color: white;
    }
}