.notfound {
    /* border: 1px solid white; */
    padding: 3%;
    color: white;
}

.notfound h1 {
    text-align: center;
}

.notfound h3 {
    text-align: center;
}

.notfound button {
    height: 50px;
}

@media(min-width:350px) {
    .notfound {
        margin: 18% auto;
    }

    .notfound h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 4%;
    }

    .notfound h3 {
        font-size: 24px;
        margin-top: 35%;
    }

    .notfound button {
        width: 90%;
        height: 50px;
        margin: 0px 5%;
    }
}

@media(min-width:650px) {
    .notfound {
        margin: 18% auto;
    }

    .notfound h1 {
        font-size: 60px;
        text-align: center;
        margin-top: 4%;
    }

    .notfound h3 {
        font-size: 24px;
        margin-top: 35%;
    }

    .notfound button {
        width: 90%;
        margin: 0px 5%;
    }
}

@media(min-width:900px) {
    .notfound {
        padding: 3%;
        margin: 5% auto;
        color: white;
    }

    .notfound h1 {
        font-size: 80px;
        text-align: center;
        margin-top: 4%;
    }

    .notfound h3 {
        font-size: 28px;
        text-align: center;
        margin-top: 10%;
    }

    .notfound button {
        width: 30%;
        height: 50px;
        margin: 0px 35%;
    }
}