.userlogin {
    color: white;
}

.userlogin h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.userlogin .container {
    /* border: 1px solid black; */
    margin: 6% auto;
}

.userlogin .container label {
    font-size: 15px;
}

.userlogin .container p {
    font-size: 15px;
    font-weight: bold;
    color: red;
}

.userlogin .container button {
    width: 100%;
    height: 50px;
    margin-top: 5%;
    background-color: #238636;
}

.userlogin .container a {
    font-size: 15px;
    text-decoration: none;
}

.userlogin .container a:hover {
    transition: 1s;
    text-decoration: underline;
}

.userlogin .container input {
    background-color: #0D1117;
    color: white;
    padding-left: 5px;
    border: 1px solid #262C36;
    border-radius: 5px;
}

.userlogin .container input:hover{
    transition: 1s border;
    border: 1px solid white;
}


@media (min-width : 350px) {
    .userlogin {
        width: 100%;
        margin: 15% auto;
        /* border: 1px solid white; */
    }

    .userlogin .container {
        /* border: 1px solid white; */
        width: 100%;
    }

    .userlogin .container input {
        width: 100%;
        height: 45px;
        background-color: #0D1117;
        color: white;
    }

    .userlogin .container a {
        color: #4493F8;
        margin-top: 5%;
    }
}

@media (min-width : 600px) {
    .userlogin {
        width: 100%;
        margin: 15% auto;
        /* border: 1px solid white; */
    }

    .userlogin .container {
        /* border: 1px solid white; */
        width: 100%;
    }

    .userlogin .container input {
        width: 100%;
        height: 45px;
    }

    .userlogin .container a {
        color: #4493F8;
        margin-top: 5%;
    }
}

@media (min-width : 900px) {
    .userlogin {
        width: 30%;
        margin: 6% auto;
        /* border: 1px solid white; */
    }

    .userlogin .container {
        margin-top: 3%;
        height: fit-content;
    }

    .userlogin .container input {
        width: 100%;
        height: 45px;
    }

    .userlogin .container a {
        color: #4493F8;
        margin-top: 5%;
    }
}