.icons{
    /* border: 1px solid green; */
    width: 60%;
    margin: 2% auto;
}

.icons i{
    padding: 8%;
}

.icons i:hover{
    border: 1px solid black;
    border-radius: 500%;
}

.card-body h5:hover{
    transition: 1s;
    text-decoration: underline;
    cursor: pointer;
}

.card{
    border: 1px solid #262C36;
    background-color: #262C36;
    color: white;
}

.card-body pre{
    margin-top: 5%;
}


@media(min-width : 350px){

    .card{
        margin-top: 5%;
    }

    .card h5{
        font-size: 20px;
        font-weight: bolder;
    }

    .card pre{
        /* border: 1px solid white; */
        font-size: 15px;
    }
}

@media(min-width : 650px){
     .card{
        margin-top: 5%;
    }

    .card h5{
        font-size: 20px;
        font-weight: bolder;
    }

    .card pre{
        /* border: 1px solid white; */
        font-size: 15px;
    }
}

@media(min-width : 900px){
     .card{
        margin-top: 1%;
    }

    .card h5{
        font-size: 25px;
        font-weight: bolder;
    }

    .card pre{
        /* border: 1px solid white; */
        font-size: 16px;
    }
}